<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/favicon.png}" >
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/home">home</a></li>
                                        <li><a href="/rooms">rooms</a></li>
                                        <li><a class="active" href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>


                                        <div class="nav-links" style="text-align: center;">
                                            <li>
                                                <a href="#" class="desktop-item" >Menu</a>
                                                <ul class="drop-menu" style="left: 2%;font-size: 6px;color: #f2f2f2;">

                                                    <li><a th:href="@{/profile}">Hồ Sơ</a></li>
                                                    <li><a th:href="@{/phieudat}">Phiếu Đặt</a></li>
                                                    <li><a th:href="@{/logout}">Log out</a></li>
                                                </ul>
                                            </li>
                                        </div>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/home">
                                    <img th:src="@{img/logo.png}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">

<!--                            <div class="sign_up" style="text-align: right;">-->
<!--                                -->
<!--                                <div class="sign_btn d-none d-lg-block">-->
<!--                                    <a th:if="${isLoggedIn == false}" th:href="@{/signup}">Sign Up</a>-->
<!--                                    <a th:if="${isLoggedIn == true}" th:href="@{/logout}">Đăng xuất</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg_2" style="padding: 145px 0 20px">
        <h3>Booking Montana</h3>
    </div>
    <!-- bradcam_area_end -->
    <form th:action="@{/showHangPhong}" method="post" class="form-booking"style="text-align: center">
        <label for="checkin">Check In Date:</label>
        <input type="date" id="checkin" name="checkInDate" th:value="${session.checkInDate}"required>

        <label for="checkout">Check Out Date:</label>
        <input type="date" id="checkout" name="checkOutDate" th:value="${session.checkOutDate}" required>

        <label for="roomType">Room Type:</label>
        <select id="roomType" name="roomType" required >
            <option value=""disabled selected hidden>-- Select Room Type --</option>
            <option th:each="loaiphong : ${loaiphongs}" th:value="${loaiphong.maLP}" th:text="${loaiphong.tenLP}+'('+${loaiphong.moTa}+')'" th:selected="${loaiphong.maLP == session.selectedRoomType}" ></option>
        </select>

        <button type="submit" class="button-60">Show Room Categories</button>
    </form>
    <div th:if="${hangphongs}" class="container mt-5 mb-5" >
        <form th:action="@{/bookRoom}" method="post" style="margin-bottom: 30px;padding-bottom: 30px">
            <div class="d-flex justify-content-center row">
                <ul class="col-md-10">
                    <li th:each="hangphong : ${hangphongs}" class="row p-2 bg-white border rounded">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" th:src="'data:image/png;base64,' + ${hangphong.getKieuphong().getBase64Image()}"></div>
                        <div class="col-md-6 mt-1">
                            <h5 th:text="${hangphong.getKieuphong().getTenKP()}"></h5>
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                                <span>Wifi</span><span class="dot"></span>
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                                <span>View phòng: </span>
                                <span th:text="${hangphong.getKieuphong().getViewPhong()}"></span>
                            </div>
                            <span th:text="${hangphong.getKieuphong().getMoTa()}"></span>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-row align-items-center">
                                <h4 class="mr-1" th:text="${hangphong.getDonGia()}"></h4><span class="strike-text">$20.99</span>
                            </div>
                            <h6 class="text-success">Free shipping</h6>
                            <div class="d-flex flex-column mt-4"><input type="number" name="quantity" th:value="${soLuongDaDatMap[hangphong.maHP] != null ? soLuongDaDatMap[hangphong.maHP] : 0}" min="0" th:max="${soLuongPhongTrong[hangphong.maHP]}" ></div>
                        </div>
                        <input type="hidden" name="hangPhongId" th:value="${hangphong.maHP}">
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary btn-sm" type="submit" style="text-align: center;position: absolute;display: block;margin-top: 20px;left: 50%;margin-left: -91px;padding: .35rem 1.2rem">Book Selected Rooms</button>
        </form>
    </div>
    <!-- Display Room Categories Here -->

    <!-- footer -->
    <footer class="footer" >
        <div id="redbutton"class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text" >  200, Green road, Mongla, <br>
                                    New Yor City USA</p>
                            <a href="#" class="line-button">Get Direction</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Reservation
                            </h3>
                            <p class="footer_text" >+10 367 267 2678 <br>
                                    reservation@montana.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Navigation
                            </h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit" >Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        // Tính toán ngày hôm nay
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;

        // Tính toán ngày mai
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        var dd_tomorrow = String(tomorrow.getDate()).padStart(2, '0');
        var mm_tomorrow = String(tomorrow.getMonth() + 1).padStart(2, '0');
        var yyyy_tomorrow = tomorrow.getFullYear();
        tomorrow = yyyy_tomorrow + '-' + mm_tomorrow + '-' + dd_tomorrow;

        // Gán giá trị tối thiểu cho trường ngày check out
        document.getElementById("checkout").setAttribute("min", tomorrow);
        document.getElementById("checkin").setAttribute("min", today);
    </script>
    <!-- footer_end -->

<!--&lt;!&ndash;     form itself end&ndash;&gt;-->
<!--    <form id="test-form" class="white-popup-block mfp-hide">-->
<!--        <div class="popup_box ">-->
<!--                <div class="popup_inner">-->
<!--                    <h3>Check Availability</h3>-->
<!--                    <form action="#">-->
<!--                        <div class="row">-->
<!--                            <div class="col-xl-6">-->
<!--                                <input id="datepicker" placeholder="Check in date">-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <input id="datepicker2" placeholder="Check out date">-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <select class="form-select wide" id="adult" class="">-->
<!--                                    <option data-display="Adult">1</option>-->
<!--                                    <option value="1">2</option>-->
<!--                                    <option value="2">3</option>-->
<!--                                    <option value="3">4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <select class="form-select wide" id="children" class="">-->
<!--                                    <option data-display="Children">1</option>-->
<!--                                    <option value="1">2</option>-->
<!--                                    <option value="2">3</option>-->
<!--                                    <option value="3">4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-xl-12">-->
<!--                                <select class="form-select wide" id="roomtype" class="">-->
<!--                                    <option data-display="Room type">Room type</option>-->
<!--                                    <option value="1">Laxaries Rooms</option>-->
<!--                                    <option value="2">Deluxe Room</option>-->
<!--                                    <option value="3">Signature Room</option>-->
<!--                                    <option value="4">Couple Room</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-xl-12">-->
<!--                                <button type="submit" class="boxed-btn3">Check Availability</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--    </form>-->
<!--&lt;!&ndash; form itself end&ndash;&gt;-->


    <!-- JS here -->
    <script th:src="@{js/vendor/modernizr-3.5.0.min.js}"></script>
    <script th:src="@{js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/owl.carousel.min.js}"></script>
    <script th:src="@{js/isotope.pkgd.min.js}"></script>
    <script th:src="@{js/ajax-form.js}"></script>
    <script th:src="@{js/waypoints.min.js}"></script>
    <script th:src="@{js/jquery.counterup.min.js}"></script>
    <script th:src="@{js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{js/scrollIt.js}"></script>
    <script th:src="@{js/jquery.scrollUp.min.js}"></script>
    <script th:src="@{js/wow.min.js}"></script>
    <script th:src="@{js/jquery.slicknav.min.js}"></script>
    <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{js/plugins.js}"></script>
    <script th:src="@{js/gijgo.min.js}"></script>

    <!--contact js-->
    <script th:src="@{js/contact.js}"></script>
    <script th:src="@{js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{js/jquery.form.js}"></script>
    <script th:src="@{js/jquery.validate.min.js}"></script>
    <script th:src="@{js/mail-script.js}"></script>

    <script th:src="@{js/main.js}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>


</body>

</html>