<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin phiếu đặt</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Thông tin phiếu đặt</h1>
<!-- Hiển thị thông tin phiếu đặt -->
<p>Mã phiếu đặt: <span th:text="${bookingInfo.getMaPD()}"></span></p>
<!--<p>Ngày đặt: <span th:text="${bookingInfo.getNgayDat()}"></span></p>-->
<!-- Hiển thị các chi tiết phiếu đặt -->
<h2>Các chi tiết phiếu đặt</h2>
<table>
    <thead>
    <tr>
        <th>Hạng phòng</th>
        <th>Số lượng</th>
    </tr>
    </thead>
    <tbody>
    <!-- Sử dụng th:each để lặp qua từng chi tiết phiếu đặt -->
    <tr th:each="chiTiet : ${bookingInfo.getChitietphieudats()}">
        <!-- Truy cập thuộc tính của từng chi tiết phiếu đặt -->
        <td th:text="${chiTiet.getHangphong().maHP}"></td>
        <td th:text="${chiTiet.getSoLuong()}"></td>
    </tr>
    <p th:text="${bookingInfo.getTongTien()}"></p>
    </tbody>
</table>
<form action="/booking" method="get">
    <button type="submit">Tiếp tục đặt</button>
</form>
<form action="/process-payment" method="post">
    <button type="submit">Thanh toán</button>
</form>
</body>
</html>
