<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/home">home</a></li>
                                        <li><a href="/rooms">rooms</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/signin">Sign in</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/home">
                                    <img th:src="@{img/logo.png}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
<!--                            <div class="sign_up" style="text-align: right;">-->
<!--                                -->
<!--                                <div class="sign_btn d-none d-lg-block">-->
<!--                                    <a href="/signup">Sign Up</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <!-- bradcam_area_end -->

    <!-- about_area_start -->
    <div class="sign_area padding_top "style="background-image: url(img/banner/banner.png);">
        <div class="container" style="padding: 20px;background: white;max-height: 900px;margin: auto;">
            <div class="row">
                <div class="col-xl-12 col-lg-12" style="">
                    <form method="post" th:action="@{/signup}" th:object="${taiKhoanKhachHangDTO}" style="display: flex;">
                        <div style="width: 50%;display: block;padding: 2%;">
                            <h3 style="margin: 0;text-transform: uppercase;font-size: 25px;text-align: center;margin-bottom: 28px;">Registration Form</h3>
                            <div class="form-group" style="margin-bottom: 0px;">
                                <input type="text" placeholder="Ho" class="form-control" name="Ho" th:value="*{Ho} " th:errorClass="is-invalid" >

                                <input type="text" placeholder="Ten" class="form-control" name="Ten" th:value="*{Ten}" th:errorClass="is-invalid" >

                            </div>
                            <div class="form-wrapper" style="margin-bottom: 0px;display: flex">
                                <div th:if="${#fields.hasErrors('Ho')}" th:errors="*{Ho}" class="invalid-feedback form-control" style="border-bottom: none; height: 15px"> </div>
                                <div th:if="${#fields.hasErrors('Ten')}" th:errors="*{Ten}" class="invalid-feedback form-control"style="border-bottom: none;height: 15px" > </div>
                            </div>
                            <div class="form-wrapper">
                                <input type="text" placeholder="Ten dang nhap" class="form-control" name="Username" th:value="*{Username}" th:errorClass="is-invalid">
                                <i class="zmdi zmdi-account">*</i>
                                <div th:if="${#fields.hasErrors('Username')}" th:errors="*{Username}" class="invalid-feedback"> </div>
                            </div>
                            <div class="form-wrapper">
                                <input type="text" placeholder="Email" class="form-control" name="Email" th:value="*{Email}" th:errorClass="is-invalid">
                                <i class="zmdi zmdi-email">*</i>
                                <div th:if="${#fields.hasErrors('Email')}" th:errors="*{Email}" class="invalid-feedback"> </div>
                            </div>
                            <div class="form-wrapper">
                                <select  id="gender" class="form-control" name= "Phai" th:value="*{Phai}" th:errorClass="is-invalid">
                                    <option value="" disabled selected>Gioi tinh</option>
                                    <option value="True">Nam</option>
                                    <option value="False">Nu</option>
<!--                                    <option value="other">Khac</option>-->
                                </select>
                                <i class="zmdi zmdi-caret-down" style="font-size: 17px">*</i>
                                <div th:if="${#fields.hasErrors('Phai')}" th:errors="*{Phai}" class="invalid-feedback"> </div>
                            </div>
                            <div class="form-wrapper">
                                <input type="password" placeholder="Mat khau" class="form-control" name="EncrytedPassword" th:value="*{EncrytedPassword}" th:errorClass="is-invalid">
                                <i class="zmdi zmdi-lock">*</i>
                                <div th:if="${#fields.hasErrors('EncrytedPassword')}" th:errors="*{EncrytedPassword}" class="invalid-feedback"> </div>
                            </div>
                            <button type="submit">Register
                               <i class="zmdi zmdi-arrow-right"></i>
                            </button>
                            <a href="/signin" id="sign_in_link" >Đã có tài khoản</a>
                        </div>
                        <div style="width: 50%;display: block;padding: 2%;">

                            <div class="form-wrapper" style="padding-top: 58px;">
                                <input type="text" placeholder="CCCD" class="form-control" name="CCCD" th:value="*{CCCD}" th:errorClass="is-invalid">
                                <i class="zmdi zmdi-account">*</i>
                                <div th:if="${#fields.hasErrors('CCCD')}" th:errors="*{CCCD}" class="invalid-feedback"> </div>
                            </div>
                            <div class="form-wrapper">
                                <input type="text" placeholder="Dia Chi" class="form-control" name="DiaChi" th:value="*{DiaChi}" >
                                <i class="zmdi zmdi-account">optional</i>
                            </div>
                            <div class="form-wrapper">
                                <input type="date" placeholder="Ngay sinh" class="form-control" name="NgaySinh" th:value="*{NgaySinh}" th:errorClass="is-invalid">
                                <i class="zmdi zmdi-account">*</i>
                                <div th:if="${#fields.hasErrors('NgaySinh')}" th:errors="*{NgaySinh}" class="invalid-feedback"> </div>
                            </div>
                            <div class="form-wrapper">
                                <input type="text" placeholder="Ma so thue " class="form-control" name="MaSoThue" th:value="*{MaSoThue}" >
                                <i class="zmdi zmdi-account">optional</i>
                            </div>
                        </div>


                    </form>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
  
    <!-- footer -->
    <footer class="footer" >
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text" >  200, Green road, Mongla, <br>
                                    New Yor City USA</p>
                            <a href="#" class="line-button">Get Direction</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Reservation
                            </h3>
                            <p class="footer_text" >+10 367 267 2678 <br>
                                    reservation@montana.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Navigation
                            </h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit" >Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end -->

    <!-- form itself end-->
<!--    <form id="test-form" class="white-popup-block mfp-hide">-->
<!--        <div class="popup_box ">-->
<!--                <div class="popup_inner">-->
<!--                    <h3>Check Availability</h3>-->
<!--                    <form action="#">-->
<!--                        <div class="row">-->
<!--                            <div class="col-xl-6">-->
<!--                                <input id="datepicker" placeholder="Check in date">-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <input id="datepicker2" placeholder="Check out date">-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <select class="form-select wide" id="default-select" class="">-->
<!--                                    <option data-display="Adult">1</option>-->
<!--                                    <option value="1">2</option>-->
<!--                                    <option value="2">3</option>-->
<!--                                    <option value="3">4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-xl-6">-->
<!--                                <select class="form-select wide" id="default-select" class="">-->
<!--                                    <option data-display="Children">1</option>-->
<!--                                    <option value="1">2</option>-->
<!--                                    <option value="2">3</option>-->
<!--                                    <option value="3">4</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-xl-12">-->
<!--                                <select class="form-select wide" id="default-select" class="">-->
<!--                                    <option data-display="Room type">Room type</option>-->
<!--                                    <option value="1">Laxaries Rooms</option>-->
<!--                                    <option value="2">Deluxe Room</option>-->
<!--                                    <option value="3">Signature Room</option>-->
<!--                                    <option value="4">Couple Room</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col-xl-12">-->
<!--                                <button type="submit" class="boxed-btn3">Check Availability</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--    </form>-->
<!--&lt;!&ndash; form itself end &ndash;&gt;-->


    <!-- JS here -->
        <script th:src="@{js/vendor/modernizr-3.5.0.min.js}"></script>
        <script th:src="@{js/vendor/jquery-1.12.4.min.js}"></script>
        <script th:src="@{js/popper.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
        <script th:src="@{js/owl.carousel.min.js}"></script>
        <script th:src="@{js/isotope.pkgd.min.js}"></script>
        <script th:src="@{js/ajax-form.js}"></script>
        <script th:src="@{js/waypoints.min.js}"></script>
        <script th:src="@{js/jquery.counterup.min.js}"></script>
        <script th:src="@{js/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{js/scrollIt.js}"></script>
        <script th:src="@{js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{js/wow.min.js}"></script>
        <script th:src="@{js/jquery.slicknav.min.js}"></script>
        <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{js/plugins.js}"></script>
        <script th:src="@{js/gijgo.min.js}"></script>

        <!--contact js-->
        <script th:src="@{js/contact.js}"></script>
        <script th:src="@{js/jquery.ajaxchimp.min.js}"></script>
        <script th:src="@{js/jquery.form.js}"></script>
        <script th:src="@{js/jquery.validate.min.js}"></script>
        <script th:src="@{js/mail-script.js}"></script>

        <script th:src="@{js/main.js}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>


</body>

</html>